<h1>Detalles del usuario</h1>
<ul>
  <li>Nombre: <%= @user.first_name %> <%= @user.last_name %></li>
  <li>Turno: <%= @user.shift %></li>
  <li>Número de trabajador: <%= @user.employee_number %></li>
  <li>Administrador: <%= @user.admin? ? "Sí" : "No" %></li>
</ul>

<% if current_user.admin? %>
  <%= link_to 'Editar', edit_user_path(@user)  %>
  <%= link_to "Volver", users_path %>
<% else %>
  <%= link_to "Volver", root_path %>
<% end %>
