<h1 class='text-center'>Empresas</h1>
<div class='d-flex justify-content-end'>
  <%= link_to "Crear empresa", new_company_path(@company), class: 'btn-new-element w-25' %>
</div>
<table class="table table-hover text-center table-style">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Estatus</th>
      <th scope="col">Acciones para empresas</th>
      <th scope="col">Vehículos registrados de la empresa</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name%></td>
        <td><%= company.active ? "Activa": "Inactiva" %></td>

        <td>
          <%= link_to "Editar", edit_company_path(company) %>
          <%= link_to  company.active ? "Desactivar" : "Activar", status_company_path(company), data: {turbo_method: :patch, turbo_confirm: "¿Estás seguro?"}%>
        </td>


        <td><%= link_to "Detalles", company_path(company) %></td>

      </tr>
    <% end %>
  </tbody>
</table>
