<h3>Registro de entrada</h3>
<%= simple_form_for @entrance do |f| %>
  <%= f.input :date, as: :date, order: [:day, :month, :year], label: "Fecha:  " %>
  <%= f.input :time, as: :time, label: "Hora:  " %>
  <%= f.input :first_name, label: "Nombre:  " %>
  <%= f.input :last_name, label: "Apellido:  " %>
  <%= f.input :destination, label: "Área que visita:  " %>
  <%= f.input :comments, as: :text, label: "Comentarios:  " %>

  <div data-controller="company">
    <%= f.association :company, label: "Empresa:  ", prompt: 'Selecciona una empresa', input_html: {class: 'form-select', data: {action: "change->company#change"}}  %>
    <%= f.association :company_vehicle, label_method: :license_plate, label: "Matrícula:  ", prompt: 'Selecciona una matrícula', input_html: { class: 'form-select', data: { company_target: "vehicleSelect" }} %> <%# "vehicleSelect es un nombre que nosotros pusimos arbitrariamente para que el controller JS lo identifique como target" %>
  </div>

  <%= f.input :mileage, label: "Kilometraje  " %>
  <%= f.submit %>
<% end %>
<%= link_to "Volver", entrances_path %>
